.score-board {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 0;
}

.score-board > .player-one, .player-two {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 72px;
}