.card-game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 160px;
    border: 1px solid var(--color-borders);
    border-radius: 3px;
    cursor: pointer;
    background: url("/src/images/vscode.png") var(--color-primary) no-repeat center;

    transition: 0.4s;
}