.card-front-back {
    --width: 130px;
    --height: 160px;
    cursor: pointer; 
    width: var(--width);
    height: var(--height);
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s cubic-bezier(.42,0,.59,1.74);
}

.card-front-back.-active {
    transform: rotateY(180deg);
}

.card-front-back > .card {
    position: absolute;
    backface-visibility: hidden;
}

.card-front-back > .card.-back {
    transform: rotateY(180deg);
}

.card-front-back > .card.-back .card-game {
    background-color: var(--color-card-revel);
}